# Gradle
.gradle/
**/build/

# Loom / Minecraft dev caches
loom-cache/
**/loom-cache/
run/
**/run/

# Java
*.class
*.jar

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Crash logs
hs_err_pid*
replay_pid*